<!DOCTYPE html>
<html>

<head>
  <title>gamerank</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <script type="text/javascript" src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark bg-info">
    <div class="container">
      <a class="navbar-brand" href="/"><i class="fas fa-gamepad"></i> GameRank</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item <%= typeof page !== 'undefined' && page === 'games' ? 'active' : '' %>">
            <a class="nav-link" href="/games">Home</a>
          </li>
          <li class="nav-item <%= typeof page !== 'undefined' && page === 'new' ? 'active' : '' %>">
            <a class="nav-link" href="/games/new">Add New Game</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <% if(!currentUser){ %>
          <li class="nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item <%= typeof page !== 'undefined' && page === 'signup' ? 'active' : '' %>">
            <a class="nav-link" href="/signup">Sign Up</a>
          </li>
          <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="#">Signed in as <%= currentUser.username %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>

  <div id="viewMessage">
    <% if(errorMsg && errorMsg.length > 0) { %>
    <div class="alert alert-danger mb-0 rounded-0" role="alert"><%= errorMsg %></div>
    <% } %>
    <% if(successMsg && successMsg.length > 0) { %>
    <div class="alert alert-success mb-0 rounded-0" role="alert"><%= successMsg %></div>
    <% } %>
  </div>
