<%- include ("../partials/header") -%>
<div class="container topOfPageBig">
  <div class="row">

    <div class="col"></div>

    <div class="col-sm-10 col-md-8 col-lg-5">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="text-center">Edit your comment</h2>
          <form action="/games/<%= game_id %>/comments/<%= comment._id %>?_method=PUT" method="POST" autocomplete="off">
            <div class="form-group">
              <textarea class="form-control" type="text" name="comment[text]" rows="5" required><%= comment.text %></textarea>
            </div>
            <div class="form-group">
              <button class="btn btn-large btn-success btn-block">Update</button>
            </div>
          </form>
          <a href="/games/<%= game_id %>">Go back</a>
        </div>
      </div>
    </div>

    <div class="col"></div>
  </div>

</div>

<%- include ("../partials/footer") -%>
