  <%- include ("../partials/header") %>

  <header class="jumbotron shadow-sm d-none d-md-block rounded-0 mb-0">
    <div class="container text-center text-light mt-3">
      <h1>Welcome to GameRank!</h1>
      <p class="lead mt-3">Here are some of the best rated games by you guys.</p>
    </div>
  </header>

  <div class="container">
    <div class="grid text-center topOfPageMargin">
      <% games.forEach(function(games) { %>
        <div class="grid-item col-lg-3 col-md-4 col-sm-6 mb-4">
          <a id="fullCard" href="/games/<%= games._id %>">
            <div class="card shadow-sm">
              <img src="<%= games.image %>" class="card-img-top" alt="<%= games.name %>">
              <div class="card-body">
                <h5 class="card-title"><%= games.name %></h5>
              </div>
            </div>
          </a>
        </div>
        <% }); %>
      </div>
    </div>

    <script>
    // masonry
    const elem = document.querySelector('.grid');

    const msnry = new Masonry(elem, {
      itemSelector: '.grid-item'
    });

    imagesLoaded(elem, function() {
      const msnry = new Masonry(elem, {
        itemSelector: '.grid-item'
      });
    });
    </script>
    <!-- Bootstrap & dependencies -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
