<%- include ("../partials/header") %>

<header class="jumbotron">
  <div class="container">
    <h1>Top Video Games </h1>
    <p>Here are some of the most top rated games by you guys.</p>
    <p>
      <a class="btn btn-info" href="/games/new"><i class="fas fa-plus-square"></i> Add new game</a>
    </p>
  </div>
</header>

<div class="grid text-center" data-masonry='{ "itemSelector": ".grid-item"}'>
  <% games.forEach(function(games) { %>
    <div class="grid-item col-lg-3 col-md-4 col-sm-6 mb-4">

      <div class="card">
        <img src="<%= games.image %>" class="card-img-top" alt="<%= games.name %>">
        <div class="card-body">
          <h5 class="card-title"><%= games.name %></h5>
          <a href="/games/<%= games._id %>" class="btn btn-sm btn-dark">More info</a>
        </div>
      </div>

    </div>
  <% }); %>
</div>

  <%- include ("../partials/footer") %>
