<%- include ("../partials/header") %>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <p class="lead">gamerank</p>
      <div class="list-group">
        <li class="list-group-item">Item 1</li>
        <li class="list-group-item">Item 2</li>
        <li class="list-group-item">Item 3</li>
      </div>
    </div>
    <div class="col-md-8">
      <div class="thumbnail">
        <img class="img-responsive" src="<%= game.image %>">
        <div class="caption">
          <h4 class="pull-right">$59.99</h4>
          <h4><a><%= game.name %></a></h4>
          <p><%= game.desc %></p>
          <i>Submitted by: <%= game.author.username %></i>
          <div id="btns">
            <a href="/games/<%= game._id %>/edit" class="btn btn-xs btn-warning">Edit</a>
            <form id="delete-btn" action="/games/<%= game._id %>?_method=DELETE" method="POST">
              <button onclick="return confirm('The game \'<%= game.name %>\' is going to be deleted. Is that okay?')" class="btn btn-xs btn-danger">Delete</button>
            </form>
          </div>
        </div>
      </div>
      <div class="well">
        <div class="text-right">
          <a class="btn btn-sm btn-success" href="/games/<%= game._id %>/comments/new">Add new comment</a>
        </div>
        <br>
        <% game.comments.forEach(function(comment) { %>
          <div class="row">
            <div class="col-md-12">
              <b><%= comment.author.username %></b>
              <span class="pull-right">10 days ago</span>
              <p><%= comment.text %></p>
            </div>
          </div>
          <% }) %>
        </div>
      </div>

    </div>
  </div>


  <%- include ("../partials/footer") %>
